{% extends 'layout.html' %}
{% block content %}
  <h2>Post details</h2>
  <div class="user-post">
    <p>{{ post.author }}</p>
    <p>{{ post.date_added }}</p>
    <p>{{ post.text }}</p>
  </div>

  <h2>Comments</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Comment">
  </form>
  {% for comment in comments %}
    <div class="user-post">
      <hr>
      <p>{{ comment.author }}</p>
      <p>{{ comment.date_added }}</p>
      <p>
        {{ comment.text }}
      </p>
    </div>
  {% endfor %}
  <a href="{% url 'index' %}">Go back</a>

{% endblock %}
